.navbar {
  width: 100%;
  padding: 10px 0;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of buttons */
  background-color: transparent; /* Make the navbar box invisible */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 10px; /* Add space between buttons */
}

.category-button {
  border-radius: 20px;
  border: 1px solid #4CAF50; /* Green border */
  background-color: transparent;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.category-button:hover {
  color: #4CAF50; /* Green text on hover */
  border-color: #4CAF50; /* Green border on hover */
}

.category-button.active {
  background-color: #fff;
  color: #4CAF50; /* Green active color */
}
