.table-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #ccc; /* Default color for blank table */
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.table-box.active {
    background-color: limegreen;
}

.table-box.blank {
    background-color: #ccc; /* Change blank color to the original color */
}

.table-box.running {
    background-color: blue;
}

.table-box.printed {
    background-color: green;
}

.table-box.paid {
    background-color: yellow;
}

.table-box.running-kot {
    background-color: orange;
}
